<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/name/" method="get">
    姓: <input type="text" name="last_name"> <br>
    名: <input type="text" name="first_name"> <br>
    爱好: <input type="text" name="games"> <br>
    食物: <input type="text" name="foods"> <br>
    建筑数量: <input type="text" name="a1"> <br>
    建筑人数: <input type="text" name="a2"> <br>
    地道数量: <input type="text" name="b1"> <br>
    地道人数: <input type="text" name="b2"> <br>
    <input type="submit" value="提交">
</form>
</body>
</html>